*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #16a085;
    height: 200px;
}

main{
    height: 200px;
    display: flex;
}

.div1-main{
    width: 50%;
    background-color: #2ecc71;
}

.div2-main{
    width: 50%;
    background-color: #66cc99;
}

footer{
    height: 200px;
    display: flex;
}

.div1-footer{
    width: 25%;
    background-color: #93faa5;
}

.div2-footer{
    width: 25%;
    background-color: #b7f4d8;
}

.div3-footer{
    width: 25%;
    background-color: #c2f970;
}

.div4-footer{
    width: 25%;
    background-color: #eaf2d7;
}